[Desktop Entry]
Version=0.35
Type=Application
Name=docbook2odf
GenericName=Docbook to OpenDocument convertor
Comment=Docbook to OpenDocument convertor
Icon=odf
Exec=docbook2odf
Path=.
Terminal=false
MimeType=text/docbook
Actions=docbook2odf

[Desktop Action docbook2odf]
Exec=docbook2odf --input-file %U
Name=Convert to OpenDocument
Name[en]=Convert to OpenDocument
Name[sk]=Zkonvertovat do OpenDocument-u
Name[cs]=Skonvertovat do OpenDocument-u
